/* Duolingo */

body {
    background: #202020 !important;
    /* color: #999 !important; */
    color: #c3c3c3 !important;
    border: 0 !important;
}

/* New color schemes since late 2023 - Slowly try to transition to this */
:root {
    --color-iguana: 54,54,54 !important; /* rgba 255,255,255,0.1 */

    --color-sea-sponge: 64,90,45 !important; /* Green #405a2d */
    --color-walking-fish: 90,45,47 !important; /* Red #5a2d2f */

    
    /* --color-eel: 195,195,195 !important; #c3c3c3 - title text color */
    /* --color-black-text: 195,195,195 !important; Black text is now white text */

    /* --color-hare: 136,136,136 !important; #888 - sub text color */
}

/* Top bar */
._3g2C1 {
    background-color: #202020 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Horizontal bar below user info at the top of profile page +++ */
._91Tq4, ._26lYC, ._2S0I8, .jR7mi>:not(:last-of-type), ._3LIgy {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Left main navigation: "Learn, Stories, Schools, Shop, Classes, Podcast, Words etc". */
._1JSRd, .b8EPD {
    background-color: transparent !important;
}

._2BPAp {
    border: none !important;
    background-color: #303030 !important;
}

._1eTnJ:hover, ._2IhxH:not(.hgg7p):hover, .Ku1Wr:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
} 

._27uXD, ._3G8Us:hover,.p_bBD:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 2px solid rgba(255, 255, 255, 0.1) !important;
}

/* League and XP Progress blocks on page "/learn" + monthly badges + friend suggestions */
._3ZuGY, ._20Ytt, ._3KHXM, ._2Ojej, .nsH6y, ._1loOn, ._23JPW {
    /* background-color: rgba(255, 255, 255, 0.05) !important; */
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.JNn3d {
    border: 4px solid #202020 !important;
}

/* Locked tier background on skill tree */
/* ._399cc is the bottom bar during practice */
.GVcJz, ._3M0r3, ._3izPU, ._399cc {
    background-color: rgba(255, 255, 255, 0.05) !important;
    /* border: 2px solid rgba(255, 255, 255, 0.05) !important; */
    border: 0 !important;
}
/* Locked tier background on skill tree TOP AND BOTTOM MASK */
._1jKFt {
    -webkit-mask-image: radial-gradient(circle at 50% -6px,transparent 60px,#000 0) !important;
}
._2TPZF {
    -webkit-mask-image: radial-gradient(circle at 50% calc(100% + 6px),transparent 60px,#000 0) !important;
}

/* Skill tree unit number */
._3kmfH {
    color: white !important;
}

/* Border above and below "Suggested Stories" nested in the learning tree on page /learn */
.Xzfbf {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Suggested Stories background color nested in skill tree on page /learn */
/* Removes background on /words */
._3esGm, ._2nHL0, ._3PnTi, ._21Icd {
    background-color: transparent !important;
}

/* Borders around sections */
._3Pm6e, .BMuTY, ._1aS6c, .aHeZm {
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}
/* Horizontal lines inside of the above profile boxes */
._2GEam, ._2hN48, ._2gk65, ._1G0um, ._2PZ8z, ._15J0U, ._30OwD, ._3loCP, .b8EPD {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

._2hN48:last-child {
    border-bottom: none !important;
}

/* Quest badge title */
._2HB1v, ._26a4V {
    color: #202020 !important;
}

/* Profile page text: titles */
h1, h2, h3, h4, .k6hKX, .wWY_2, .hOVdl, ._1VA3z, .hOdmy, .Mr3if, .yXp5g, ._1qdLM, ._1eZU8, ._1V_qq, ._1MTUU, .a1TnJ, ._1CsoA, .saQLX, ._2XgDS, .Km5MI, .F7s-7, ._3HNwo, ._282DW, ._2enos, .GjJQd, ._3oF3u, ._2I8yp, ._1LruX, ._1PuQy, ._3GElo, .oiAw-, .tPtzQ, ._2vVPs ._31kUV, ._3hso6, ._3nfq0, ._2UxSK, .ERqhK   {
    color: #c3c3c3 !important;
}

/* Profile page text: subtitles text */
._1soKk, ._2nvdt, ._315yA, .FRf9s, ._2qakO, .WOZnx:before, ._15qam, ._2Ce44, ._1lJ31, ._3tLz5, ._3YkaQ, .ruQ9B, .XWge1, ._3xynE, ._1LpFA, ._15-md, ._2k8ad, ._1wy04, ._2igzU._1Wk_o, ._2igzU._1Wk_o, ._2igzU._1Wk_o, ._35HQJ, ._1mTpa, ._1Yvlr, ._3Fznl, .JpncV, ._1nO95, ._3mABf, ._1h2TJ, ._3d4Mv, ._1bXEp, .C21s9, ._21MzE, ._22J27, ._2mWrZ, ._1psAw, ._1paTU, .SqYYX, ._3qq4U, .nbupg, ._3Zk8- {
    color: #888 !important;
}

/* View more - follower list */
._3mABf {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Add friends */
._282DW {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Following list */
._1mYNy:last-child {
    border-bottom: none !important;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Checkpoint badge / correct/wrong answer badge / Quit practice pop-up / XP at end of lesson */
._17s2H, ._2VrUB, ._3gK3K, ._1qYD7, .xzblA, ._2QKoe, ._11VOS, .OYkrH, .xg-WN, ._35Ena, ._2yJFi, ._3ywLe, ._2Kxv6 {
    background: #202020 !important;
}

/* Edit profile picture icon */
._13mC4 {
    border: 4px solid #202020 !important;
}

/* Practice mistakes button outline */
._2scgQ {
    --outline-color: #202020 !important;
}

/* You on the leaderboard */
._3QwaZ.mKH7H {
    color: #58a700 !important;
}

.yXp5g:hover, ._1qdLM:before, ._1qdLM:after, .YkUbe, .g_Zzj:hover, .InGFc:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.Dsx7N:hover:after {
    width: 25px;
    height: 25px;
}

/* Leaderboard and lesson complete top bars */
._2p1op {
    background-color: #202020 !important;
}

._1v8kS {
    color: #202020 !important;
}

/* Practice button bottom left (Dumbell) AND back to top button */
.WOZnx:before, ._1N-oo:before {
    background-color: var(--web-ui_button-background-color,#202020) !important;
    border: 2px solid rgba(255, 255, 255, 0.1) !important;
    border-radius: var(--web-ui_button-border-radius,12px);
    bottom: 0 px !important;
    box-shadow: 0 0px 0 var(--__internal__border-color) !important;
    content: "";
    left: 0px !important;
    position: absolute;
    right: 0px !important;
    top: 0px !important;
    z-index: -1 !important;
}

/* Stories-, friend updates-, daily quests-, league backgrounds */
._1zsgz, ._2nLk_, ._2ikVT, ._3IvEG, ._20Ytt {
    background-color: transparent !important;
}

/* Matching pairs text color */
._1O290 {
    --web-ui_button-color: #888 !important;
}

/* Background correct / wrong answer / mic off */

/* Green */
._3e9O1, ._3QwaZ, .TVxEB, .IkLCT, ._3_lqo, .C21s9, ._3WGbM { 
    background-color: #405a2d !important;
    background: #405a2d !important;
}

/* Red */
._3vF5k, .g4lHU, ._2TVVG.lk2xf {
    background-color: #5a2d2f !important;
}

/* Yellow */
._2NxDA {
    background-color: #594f2d !important;
}

/* Alphabet background color fixes */
.d2gYz {
    --web-ui_button-background-color: #594f2d !important;
}

._3OTNX {
    background-color: inherit !important;
    border: 2px solid rgba(255,255,255,0.1) !important;
}

._2cQin {
    color: inherit !important;
}

._2cQin:after, ._2cQin:before, ._3vgtc {
    background: rgba(255,255,255,0.1) !important;
    height: 1px !important;
}

._3hNLs {
    background-color: #303030 !important;
}

.rsHKZ {
    border: 1px solid rgba(255,255,255,0.1) !important;
}

._3Z3NB {
    border-bottom: 1px solid rgba(255,255,255,0.1) !important;
}

._3nCPn {
    border-bottom: 1px solid rgba(255,255,255,0.1) !important;
}

.AVekF, ._1c25o>.hWQ2W {
    border-bottom: 1px solid #1cb0f6 !important;
}

._196g_:hover {
    border-bottom: 1px solid #1cb0f6 !important;
    margin-bottom: -1px !important;
}

._2SDmF {
    color: #888 !important;
}

._2nAgU {
    color: inherit !important;
}

._3LCdE, .UuQf0 {
    color: #cd7900 !important;
}

/* From add new course */
._14oJt, ._1OeGd {
    color: inherit !important;
}

._1xIvJ, ._3qIya, ._2aUvg {
    color: #888 !important;
}

._374bD {
    border-top: 1px solid rgba(255,255,255,0.1) !important;
}

.HnjwC, ._2bIJV {
    background-color: #202020 !important;
    border: 1px solid rgba(255,255,255,0.1) !important;
}

/* Check button during practice */
._2NolF.LhRk3:not(._1rl91):before, ._2NolF:disabled:not(._1rl91):before {
    background-color: var(--web-ui_button-background-color-disabled, rgba(255, 255, 255, 0.1)) !important;
}

/* Text field during typing practices */
._1QDX9, ._2ti2i, ._1O_I2 {
    background-color: transparent !important;
    color: #888 !important;
    border: 2px solid rgba(255, 255, 255, 0.1) !important;
}

/* Word(s) in the middle of sentences during practice */
._17nEt {
    color: #888 !important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1) !important;
}

._17nEt:disabled {
    -webkit-text-fill-color: #888 !important;
}

/* Speech bubbles during practice */
._1KUxv, ._3p5e9 {
    background-color: #303030 !important;
    border: 2px solid #303030 !important;
}

/* Matching pairs audio samples background  */
.pmjld {
    --web-ui_button-background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Start lesson button when gold */
._1UZS3 .zylDf {
    background-color: #ffc800 !important;
}

/* Word help on hover */
/* ._2Gskp {
    border-top: 2px solid rgba(255, 255, 255, 0.05) !important;
}

._1rooe {
    border-bottom: 2px solid inherit !important;
}

._3xnDt {
    border-left: 2px solid rgba(255, 255, 255, 0.05) !important;
} */

/* Practice choice buttons */
._3C_oC {
    border-width: 2px !important;
}

._3C_oC:before {
    background-color: transparent !important;
    border: 2px solid #303030 !important;
    box-shadow: 0 0 0 transparent !important;
}

._2-OmZ {
    color: #888 !important;
}

._3C_oC.disCS, ._3C_oC:active:not(.hfPEz) {
    color: #1899d6 !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

/* If display none above, use this to make the XP reward use full width */
._1jZrU {
    width: 100% !important;
}

/* Practice review screen */
.SQR8J {
    border-left: 1px solid rgba(255, 255, 255, 0.1) !important;
    /* This removes the ad block on the right */
    display: none !important;
}

/* Divider inside normal speed speech and slow speech bubbles */
._3ANq3>:not(:last-child) {
    border-right: 1px solid #202020 !important;
}

._1JSRd {
    border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Removes adblock ad on front page */
._3bfsh {
    display: none !important;
}

/* Words table adjustments */
.g_Zzj td {
    border-color: rgba(255, 255, 255, 0.1) !important;
    border-width: 0 1px 1px 1px !important;
    color: #888 !important;
}

/* Streak box */
._1p_Bp, ._2b2qG, ._3tCYa, ._2bk_b th, .UpoCK {
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

._1lUzF {
    border: solid rgba(255, 255, 255, 0.1) !important;
    border-width: 1px 1px 0 !important;
}

._1lUzF:after {
    background-color: transparent !important;
}

._2bk_b th {
    background: rgba(255, 255, 255, 0.1) !important;
}

._2b2qG {
    color: #888 !important;
}

._1p_Bp:after {
    background-color: transparent !important;
}

._3PY9l, .brXUB {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.y2jVU {
    -webkit-filter: invert(85%);
}

._2Y0pF {
    border-top: 2px solid transparent !important;
}

/* Hover menu stuff */
._2WP_P, ._1jxVm, ._3uAwj {
    color: #888 !important;
}

._1ccgT, .PqXfk, .y88kh {
    color: #c3c3c3 !important;
}

._3sYli:first-of-type, ._11VOS, ._1HxVp {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

._3sYli {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Remove the white glow from perfect score screen */
._3plTW {
    background: none !important;
}

/* Player footer */
._399cc {
    background-color: #202020 !important;
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Legendary progress bar circle checkpoints */
._4rplQ, ._2YmyD {
    background-color: #303030 !important;
}

/* When losing a life */
._3XZrb {
    opacity: 0.1;
}

/* Matching pairs number boxes */
/* ._3Ixn- is "fill in the blanks table outer border */
._2S0Zh, ._3Ixn-  {
    border: 2px solid rgba(255, 255, 255, 0.1) !important;
}

.V3M4U {
    outline:#303030 !important;
}

.fvNJ1 {
    background: rgba(255, 255, 255, 0.1) !important;
}

/* TIPS PAGE 
------------------------------------------------------------------------------ */

/* Tips page section titles */
/* Ok this is not idea, it actually all the text on the tips page, but at least it's readable. */
._1WCLL span {
    color: #888 !important;
}

/* Background color of example boxes */
._2gwdz {
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Table background */
._1Dr4X {
    background-color: transparent !important;
}

/* Table borders */
._1eBPl ._1lcy6 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
}

._1lcy6:first-of-type {
    border-left: 1px solid rgba(255, 255, 255, 0.1) !important;
}

._1lcy6 {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Table header background color */
._37c8P {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Subtitle Stories, both modes complete */

.jcVkl {
    color: #888 !important;
}

/* Stories text to read.
Keep an eye on this one, it broke earlier */
._2igzU._3LUrt._2P5W7 {
    color: #888;
}

/* The dotted line below story lines */
._2igzU._1Wk_o {
    background-image: linear-gradient(90deg,#888 60%,hsla(0,0%,100%,0) 0) !important;
}

/* Things like ? and ! marks */
._2igzU._3LUrt {
    color: #c3c3c3;
}

/* Speech bubble "tap" in stories. Since haven't been able to figure out how to recolor, hide instead */
/* ._2lvkY:before, ._1e1GW:before {
    display: none;
}

._2lvkY {
    background-color: #303030 !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
} */

/* Horizontal lines dividing account sections in profile/settings drop down (top right corner menu) */
._1KF6e {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

._1KF6e:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

/*  Account settings right side menu hover background */
._1eSrF {
    background: rgba(255, 255, 255, 0.1) !important;
}

.rmbzf:hover {
    background: rgba(255, 255, 255, 0.1) !important;
}

/* Manage courses divider lines */
._3I-zC {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

._3I-zC:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Border around Super Duolingo perks */
._3WmPv {
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Background on big super ad on frontpage */
/* This code is currently using "!important" so I can't override it. This style will fix itself if changed in the future */
/* REMOVE DISPLAY NONE EVERY NOW AND THEN TO CHECK IF IT'S FIXED */
.Ekspr {
    background-color: transparent !important;
    display: none;
}

/* Language selector drop down menu changes */
/* Divider line */
._2WiQc {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
    color: #c3c3c3 !important;
}

._2WiQc:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Active language */
._1Gh9e {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.uOkpe {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.uOkpe:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Notification overlay window */
/* X button */
.FrL-W, ._1h2TJ {
    background: #303030 !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Box */
._3lUbm, ._2Z3FY {
    background: #202020 !important;
}

/* Items */
._1OtjJ {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Border */
._2feJW {
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

._3loCP:last-child, ._2GEam:last-child {
    border: none !important;
}

/* Friend updates celebration button */
._19UAQ {
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}
._2l3ju {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Shop power up divider line */
._8roiG {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

._3hso6 {
    background: rgba(255,255,255,0.1) !important;
}

/* Achievements block on friends profile page */
._1QiqV {
    border:1px solid rgba(255, 255, 255, 0.1) !important;
}

.SEEvZ {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
    color: #c3c3c3 !important;
}

/* Cracked skills that hasn't been practiced in a while */
/* Can the same method be used for Story speech bubbles? */
._1m7gz {
    -webkit-filter: invert(85%);
}

/* Language Courses for "Language" speakers */
._2PVaI {
    background-color: transparent !important;
}

.zAIdz {
    background-color: #303030 !important;
    border-color: rgba(255, 255, 255, 0.1) !important;
}

.zA0zE {
    border-width: 1px !important;
}

._3ly0h {
    color: #c3c3c3 !important;
}

/* Settings page */
input[type=checkbox] {
    background: transparent !important;
}

/* input field */
._2gBEa, ._3ntDw, ._3Yh_i {
    background: #303030 !important;
    border: 0 !important;
    color: #888 !important;
}
/* Slider background */
.eP5n4 {
    background: #303030 !important;
}

._1oj-F {
    color: #c3c3c3 !important;
}

/* Hint divider line */
/* ._2Gskp {
    border-top: 1px solid red !important;
} */

/* Status icon bubble on avatar */
._1o6AI, ._2WS1S {
    background: #303030 !important;
    border: 2px solid rgba(255, 255, 255, 0.1) !important;
}

/* Guidebook background */
._2fqcw {
    background-color: transparent !important;
}

._3hvfP {
    background: #202020 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Celebrated button on friends updates */
.t1Hcp {
    --web-ui_button-background-color: rgba(255,255,255,0.1) !important;
}

/* Reactions avatar border */
._2VmmU {
    background-color: rgba(255,255,255,0.1) !important;
    border: 4px solid rgba(255,255,255,0.1) !important;
}

/* Fix for character tests like hiragana */
._2KRgS, ._2QCqu, ._3pn9e, ._3mxWC {
    color: inherit !important;
}

._11apW {
    border: 2px solid #303030 !important;
}

/* Friends updates button */
._3xoy3 {
    color: #888 !important;
}

/* Show tips "forced" popup during lessons */
._1Mo5S {
    border-bottom: 1px solid rgba(255,255,255,0.1) !important;
}

/* Leaderboard after lesson */
._1c_8A {
    background-color: #405a2d !important;
    color: #c3c3c3!important;
}

.CeAwM {
    border: 1px solid #303030 !important;
}

/* Experimenting with pop-up box scrollbars */
._2XWTG {
    --modal-padding: 24px !important;
    max-height: none !important;
}

._2Z3FY {
    height: auto !important;
}

/* Terms, privacy etc */
._3wZWk {
    background-color: transparent !important;
}

/* Search for friends / Invite friends */
.aEnZV, ._3CNP- {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 0 !important;
}

._2q1-e, ._3nU_m {
    color: #888 !important;
}

/* My courses drop down menu */

._1vbHN {
    border-bottom: 1px solid rgba(255,255,255,0.1) !important;
}

._2Ugrj {
    border-top: 1px solid rgba(255,255,255,0.1) !important;
    color: var(--web-ui_button-color,rgb(var(--color-macaw))) !important;
}

._2Ugrj:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: var(--web-ui_button-color,rgb(var(--color-macaw))) !important;
}

._3oF3u:hover, .rupNE {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

._3oF3u:active {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Speech bubbles */
._2t35G:after {
    border-right: 18px solid #303030 !important;
    border-top: 18px solid transparent !important;
}

._2t35G:before {
    border-right: 22px solid #303030 !important;
    border-top: 22px solid transparent !important;
}

._21IEC, ._29e-M {
    background-color: #303030 !important;
    border: 0 !important;
}
._2Iqyl {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1) !important;
}

/* Mobile size - fixes -------------------------------------------------- */

/* Settings background */
._3jjBK {
    background-color: transparent !important;
}

/* Profile header bottom border */
._3GElo {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Invite friends */
._3Ee1p {
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* White sticky bar - top */
._1PuQy {
    background-color: #202020 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Whit sticky navigation - bottom */
._3rtds {
    background: #202020 !important;
    border-top: 1px solid rgba(255,255,255,0.1) !important;
}

/* Quests top navigation */
._3ZTax {
    border-bottom: 2px solid #202020 !important;
    color: #303030 !important;
}

._3keDY {
    color: #c3c3c3 !important;
}

._1SrLp {
    background: #202020 !important;
    border-bottom: 1px solid rgba(255,255,255,0.1) !important;
}

._3TrZ1 {
    color: #202020 !important;
    opacity: 0.5 !important;
}

/* Clock image */
.R-sYO {
    filter: invert(1);
}

/* Efficacy -------------------------------------------------- */
._2igau li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

._2igau li:last-child {
    border: none !important;
}

._1Bio6 {
    background-color: #202020 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* LEADERBOARD ----------------------------------------------- */

/* leaderboard gradient (when not on the board) */
._1khoy:after {
    background: linear-gradient(0deg, rgb(32,32,32), rgb(255,255,255,0)) !important;
}

/* Your placement on the board, when not on the board */
._2svdb {
    background: #353535 !important;
}

/* "fake" data entries on leaderboard */
._3seVy {
    opacity: 0.1 !important;
}

/*  Learn - path icons */
._2AZ_h, ._3pULP {
    --path-level-color: #353535 !important;
}

._2vVPs ._31kUV, ._3nfq0 {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

._1adRe {
    filter: opacity(0.1) !important;
}

/* Button - Start */
._12StQ {
    --web-ui_button-background-color: rgba(255,255,255,0.1) !important;
    --web-ui_button-border-color: #202020 !important;
}

/* Chucku fixes - Wait to push before you can confirm */
._1QEpQ {
    background: #202020 !important;
    border-bottom: 1px solid rgba(255,255,225,0.1) !important;
}

._1F83J {
    background-color: #202020 !important;
    border: 1px solid rgba(255,255,255,0.1) !important;
    color: #888 !important;
}

._8fhZ7 {
    color: #FFF !important;
}

._262fl {
    background-color: #202020 !important;
}